<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pexpress">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PEXPRESS">
        <activity android:name=".TestActivity"></activity>
        <activity android:name=".EditProfile" />
        <activity android:name=".PricesPage" />
        <activity android:name=".Profile" />
        <activity android:name=".TimesOpen" />
        <activity android:name=".OrderList" />
        <activity android:name=".ListFamily" />
        <activity android:name=".ContactUs" />
        <activity android:name=".AfterLoginPage" />
        <activity android:name=".Terms" />
        <activity android:name=".test" />
        <activity android:name=".RegisterPage" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>